<h1>Maritime collision</h1>

<p>
    Welcome to the Maritime Collision approximator. This is an automated resolution facility which will ask both agents structured, maritime-specific questions. At the end of the questioning, the approximator will run a court simulation and give a heuristically-driven summary of what might happen should the dispute be taken to court.
</p>

<p class="bg-warning">
    The approximator is only an indication of what might happen in court, and should by no means be taken as fact. The developers of the maritime collision module cannot be held responsible for inaccurate predictions.
</p>

<p class="text-center">
    <button class="btn btn-lg btn-primary" type="submit">Ask me questions</button> / <button class="btn btn-lg btn-danger" type="submit">Decline to take part</button>
</p>