<h1>Questions</h1>

<form action="<?php echo $disputeUrl; ?>/answer-maritime-collision-question" method="post">

    <?php foreach($questions as $question) : ?>

        <h3>
            <?php echo $question['text']; ?>
        </h3>

        <?php if (isset($question['info'])) : ?>
            <p>
                <?php echo $question['info']; ?>
            </p>
        <?php endif; ?>

        <?php
        switch($question['type']) {
            case "radio":
                renderRadio($question);
                break;
            case "select":
                renderSelect($question);
                break;
            default:
                echo '<p>Unknown question type. Please contact an admin.</p>';
        }
        ?>

    <?php endforeach; ?>

    <div class="col-lg-12 text-center">
        <button class="btn btn-lg btn-primary" type="submit">Submit answers</button>
    </div>
</form>

<?php function renderRadio($question) { ?>

    <div class="col-lg-12">
        <p>
            <?php foreach($question['options'] as $option): ?>

                <input
                    type="radio"
                    id="<?php echo $question['id'] . $option['value']; ?>"
                    name="<?php echo $question['id']; ?>"
                    value="<?php echo $option['value']; ?>"
                />

                <label for="<?php echo $question['id'] . $option['value']; ?>"><?php echo $option['text']; ?></label>

                &nbsp;

            <?php endforeach; ?>
        </p>
    </div>

<?php } ?>

<?php function renderSelect($question) { ?>

    <div class="col-lg-12">
        <select class="form-control" name="<?php echo $question['id']; ?>">
            <?php foreach($question['options'] as $option): ?>

                <option value="<?php echo $option['value']; ?>"><?php echo $option['text']; ?></option>

            <?php endforeach; ?>
        </select>
    </div>

<?php } ?>